@charset "utf-8";

body  {
    font:16px/1.5 "Nanum Gothic", sans-serif;
    color:#333;
    box-sizing: border-box;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
/* ul li {
    float: left;
} */
.header-wrap {
    max-width: 1140px;
    margin:0 auto;
}
.header-top {
    padding-top:15px;
}
#tnb {
    text-align: right;
}
#tnb li {
    display: inline-block;
    vertical-align: middle;
}
#tnb li:nth-child(1)::after,#tnb li:nth-child(2)::after  {
    content:'';
    display: inline-block;
    width:1px;
    height: 10px;
    background: #ccc;
    margin:0 10px;
}
#tnb li:nth-child(3)::after {
    content:'';
    display: inline-block;
    width:1px;
    height: 10px;
    background: transparent;
    margin:0 5px;
}
#tnb li a {
    font-size:0.825rem;
    color:#8a8a8a;
}
.header-bottom::after {
    content:'';
    display: block;
    clear:both;
}
.logo {
    float: left;
    width:25%;
    margin-right: 5%;
}
.nav {
    float: left;
    width: 70%;
    margin-left: 30%;
}

#gnb {
    text-align: right;
}
#gnb li {
    padding:5px;
    width: calc(100% / 7);
    float: left;
}
#slogan {
    background: url("../images/main_sec1.jpg") center / cover;
}
.slogan-wrap {
    max-width: 1150px;
    margin:0 auto;
}
#slogan h3 {
    font-size: 19px;
}
.container-wrap1 {
    background: url(../images/main_sec2.jpg) center / cover;
    text-transform: uppercase;
}
.container-wrap2 {
    background: url(../images/main_sec3.jpg) center / cover;
    text-transform: uppercase;
}